@{
    ViewData["Title"] = "No Encontrado";
}

<h1>El recurso solicitado no ha sido encontrado</h1>

<button asp-action="Index" type="button" class="btn btn-secondary text-white">Click aquí para regresar al home.</button>
